<!--~ Colored Cards ~-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center"
                 style="background-color:#FAA61A; color:#fcfcfc;">
                <div class="card-body">
                    <h2 class="card-title pb-2">Member</h2>
                    <hr style="border:0; height:0; border-top:1px solid #EA8C04; border-bottom:1px solid #FFBD40;">
                    <h3 class="card-subtitle mb-2" style="color:#7c4e04;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>
                    <hr style="border:0; height:0; border-top:1px solid #EA8C04; border-bottom:1px solid #FFBD40;">
                    <h3 class="card-subtitle mb-2" style="color:#FFDB7F;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>
                    <hr style="border:0; height:0; border-top:1px solid #EA8C04; border-bottom:1px solid #FFBD40;">
                    <h3 class="card-subtitle mb-2" style="color:#FFDB7F;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>

                    <button href="#"
                            class="btn btn-default m-1"
                            style="color:#fff; background-color:#7c4e04; border-radius:0; border:1px solid #7c4e04;">
                        <i class="fa fa-external-link"></i> ##Buy Now!
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card text-center"
                 style="background-color:#66952D; color:#fcfcfc;">
                <div class="card-body">
                    <h2 class="card-title pb-2">Non-Member</h2>
                    <hr style="border:0; height:0; border-top:1px solid #547B25; border-bottom:1px solid #72A732;">
                    <h3 class="card-subtitle mb-2"
                        style="color:#2f4414;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>
                    <hr style="border:0; height:0; border-top:1px solid #547B25; border-bottom:1px solid #72A732;">
                    <h3 class="card-subtitle mb-2"
                        style="color:#84C13A;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>
                    <hr style="border:0; height:0; border-top:1px solid #547B25; border-bottom:1px solid #72A732;">
                    <h3 class="card-subtitle mb-2"
                        style="color:#84C13A;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>


                    <button href="#"
                            class="btn btn-default m-1"
                            style="color:#fff; background-color:#2f4414; border-radius:0; border:1px solid #2f4414;">
                        <i class="fa fa-external-link"></i> ##Buy Now!
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card text-center"
                 style="background-color:#018FD5; color:#fcfcfc;">
                <div class="card-body">
                    <h2 class="card-title pb-2">Early Bird</h2>
                    <hr style="border:0; height:0; border-top:1px solid #017CB7; border-bottom:1px solid #019EEB;">
                    <h3 class="card-subtitle mb-2"
                        style="color:#014663;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>
                    <hr style="border:0; height:0; border-top:1px solid #017CB7; border-bottom:1px solid #019EEB;">
                    <h3 class="card-subtitle mb-2"
                        style="color:#76CDFF;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>
                    <hr style="border:0; height:0; border-top:1px solid #017CB7; border-bottom:1px solid #019EEB;">
                    <h3 class="card-subtitle mb-2"
                        style="color:#76CDFF;"><i class="fa fa-dollar-sign"></i> ***.**</h3>
                    <p class="card-text">Some quick example</p>


                    <button href="#"
                            class="btn btn-default m-1"
                            style="color:#fff; background-color:#014663; border-radius:0; border:1px solid #014663;">
                        <i class="fa fa-external-link"></i> ##Buy Now!
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>