<div class="row mt-4">
    <div class="container text-center">
        <h3 class="pb-5">Pricing</h3>
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <div class="card text-center"
                     style="background-color:#FAA61A; color:#fcfcfc;">
                    <div class="card-body">
                        <h2 class="card-title">Member</h2>
                        <hr style="border:0; height:0; border-top:1px solid #EA8C04; border-bottom:1px solid #FFBD40;">
                        <h3 class="card-subtitle mb-2 mt-1" style="color:#7c4e04;"><i
                                class="fa fa-dollar-sign"></i> Free</h3>
                        <!--<p class="card-text">Some quick example</p>-->

                        <button href="#"
                                class="btn btn-default m-1 mt-3 btn-orange-card"
                                style="color:#fff; background-color:#7c4e04; border-radius:0; border:1px solid #7c4e04;">
                            <i class="fa fa-cart-plus"></i> Buy Now!
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card text-center"
                     style="background-color:#66952D; color:#fcfcfc;">
                    <div class="card-body">
                        <h2 class="card-title">Non-Member</h2>
                        <hr style="border:0; height:0; border-top:1px solid #547B25; border-bottom:1px solid #72A732;">
                        <h3 class="card-subtitle mb-2 mt-1"
                            style="color:#2f4414;"><i class="fa fa-dollar-sign"></i> Free</h3>
                        <!--<p class="card-text">Some quick example</p>-->

                        <button href="#"
                                class="btn btn-default m-1 mt-3 btn-green-card"
                                style="color:#fff; background-color:#2f4414; border-radius:0; border:1px solid #2f4414;">
                            <i class="fa fa-cart-plus"></i> Buy Now!
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>