<!--~ FontAwesome 5 ~-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt"
      crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> <!------ Include the above in your HEAD tag ---------->

<div class="container"> <!--style="background-color:#1E385A;--> <br>
    <br>

    <!--~ Tabs ~-->
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true" aria-expanded="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false" aria-expanded="false">Credit Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false" aria-expanded="false">Disclosure Declaration</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active in show" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3>Home</h3>
                    <p>General session from the <a href="http://pgcourse.gastro.org/"
                                                   style="background-color: rgb(255, 255, 255);">2018 AGA Postgraduate
                        Course: From Abstract to Reality</a>. The AGA Postgraduate Course is designed to keep you up to
                        date in a rapidly changing field. Using a variety of AGA resources you will be able to distill
                        guidelines, clinical research articles and emerging technology into everyday practice.</p>
                    <h3>Presentations:</h3>
                    <ul>
                        <li><b>Managing HBV reactivation: Chemotherapy and immunosuppression</b>&nbsp;<i>(approx. 18
                            minutes)</i><br>Rajender Reddy, MD<br><br></li>
                        <li><b>Endoscopic treatment options for obesity&nbsp;</b><i>(approx. 13 minutes)</i><br>Allison
                            Schulman, MD&nbsp;<br><br></li>
                        <li><b>Uses of fecal microbial transplantation in 2018 </b><i>(approx. 20 minutes)</i><br>Neil
                            Stollman, MD, AGAF&nbsp;<br><br></li>
                        <li><b>Top 3 clinical articles published in <i>Gastroenterology</i> and <i>CGH</i> in the past
                            year </b><i>(approx. 19 minutes)</i><br>Fasiha Kanwal, MD, MSHS, AGAF&nbsp;


                        </li>
                    </ul>
                    <h3>Product features</h3>
                    <ul>
                        <li>Complete audio track of the general session lectures and select breakout sessions along with
                            all slides.&nbsp;
                        </li>
                        <li>Associated quizzes can be completed to earn&nbsp;<em>AMA PRA Category 1 Credits</em>™ and
                            Maintenance of Certification (MOC) points.
                        </li>
                        <li>Internet connection needed to watch sessions on demand.</li>
                    </ul>
                    <h3>Order now</h3>
                    <p><a href="https://www.gastro.org/news/2018-aga-postgraduate-course-resources" title=""
                          target="_blank">View a full listing</a> of available postgraduate course resources and order
                        the online sessions today.</p>
                    <ul>
                        <li>Members:<span style="color: rgb(94, 159, 16)"> $25</span></li>
                        <li>Nonmembers:<span style="color: rgb(94, 159, 16)"> $30</span></li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3>Credit Information</h3>
                    <!--<p><strong>Program Agenda (Tentative): </strong></p>-->

                    <h3>CME/Maintenance of Certification information</h3>
                    <p><strong>Accreditation and designation</strong><strong>&nbsp;statement</strong></p>
                    <p>The American Gastroenterological Association (AGA) Institute is accredited by the Accreditation
                        Council for Continuing Medical Education to provide continuing medical education for
                        physicians.</p>
                    <p>The AGA Institute designates this enduring material for a maximum of 1<i>&nbsp;AMA PRA Category 1
                        Credits™</i>.&nbsp;Physicians should claim only the credit commensurate with the extent of their
                        participation in the activity.</p>
                    <p>In accordance with the ACCME’s Standards for Commercial Support of Continuing Medical Education,
                        all faculty and planning partners must disclose any financial relationship(s) or other
                        relationship(s) held within the past 12 months. The AGA Institute implements a mechanism to
                        identify and resolve all conflicts of interest prior to delivering the educational activity to
                        learners.</p>
                    <p><strong>MOC statement</strong></p>
                    <p>Successful completion of this CME activity, which includes participation in the evaluation
                        component, enables the participant to earn up to 1 MOC points in the American Board of Internal
                        Medicine's (ABIM) Maintenance of Certification (MOC) program. Participants will earn MOC points
                        equivalent to the amount of CME credits claimed for the activity. It is the CME activity
                        provider's responsibility to submit participant completion information to ACCME for the purpose
                        of granting ABIM MOC credit.</p>
                    <p><strong>MOC/CME expiration date</strong>: June 6, 2020</p>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <h3>Disclosure Declaration</h3>
                    <!--<p><strong>Contact  Information</strong><br>-->

                    <p>
                        <a href="http://media.mycrowdwisdom.com.s3.amazonaws.com/aga/resources/2018_PG_Course_Faculty_Financial_Disclosures.pdf"
                           target="_blank"><strong>Click here to view financial disclosures</strong></a>.&nbsp;</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>


                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-3 mb-3">
                        <div class="card-body" style="background-color:#F9F9F9;">
                            <h4>Learning Objectives</h4>
                            <p><i class="fa fa-check"></i> Dummy latin text: Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. </p>
                            <p><i class="fa fa-check"></i> Dummy latin text: Duis aute irure dolor in reprehenderit in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>